# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
ENV/

# OS X
.DS_Store

# Data (Chỉ push folder, không push dữ liệu bên trong)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs
logs/*.log

# IDE
.vscode/
.idea/